body {
  background: black;
}

h1 {
  color: white;
  font-size: 72px;
  padding: 25px 0 0 100px;
  font-family: helvetica;
  font-weight: 100;
}

.star {
  position: absolute;
  background: url(https://dl.dropbox.com/u/1488103/julie-logo-sparkle.png) no-repeat;
  background-size: contain;
  overflow: hidden;
}
.star.star-1 {
  width: 50px;
  height: 34px;
  top: 110px;
  left: 97px;
}
.star.star-2 {
  width: 83px;
  height: 77px;
  top: 18px;
  left: 224px;
}
.star.star-3 {
  width: 74px;
  height: 70px;
  top: 115px;
  left: 172px;
}
.star.star-4 {
  width: 68px;
  height: 70px;
  top: 46px;
  left: 162px;
}
